body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.game-board{
  margin: 0 auto;
  width: 80vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
  font-size: 1rem;
}

.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  flex: 1 0 auto;
}

.cell:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}

.snake{
  background: #000000
}

.head{
  background: #ff0000
}

.rat{
  background: #4d4100
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.game-info {
  margin: 20px;
}